option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: /opt/python/current/app/server.py
container_commands:
  004-start-container-commands:
    command: logger "Start deploy script" -t "DEPLOY"
  005-command:
    command: chmod +x .ebextensions/deploy.sh
  007create_log_dir:
    command: mkdir -p /var/log/app
  006-deploy:
    command: .ebextensions/deploy.sh
  200-end-container-commands:
    command: logger "End container commands" -t "DEPLOY"