commands:
  11install_supervisor:
    test : '[ ! /etc/supervisor ] && echo "supervisor not installed"'
    command: "pip install supervisor"

container_commands:
    14insert_supervisor_main_config:
        command: "cp .ebextensions/supervisor/supervisord.conf /usr/local/supervisord.conf"
        leader_only: true
    15insert_supervisor_main_config_to_etc:
        command: "cp .ebextensions/supervisor/supervisord.conf /usr/local/supervisord.conf"
        leader_only: true
    16create_websocketintranet_directory:
        command: "mkdir -p /usr/local/supervisor"
        leader_only: true
    17create_websocketintranet_directory2:
        command: "mkdir -p /usr/local/supervisor/conf.d"
        leader_only: true 
    18create_log_dir:
        command: "mkdir -p /var/log/app"
        leader_only: true
    19insert_websocketintranet_config:
        command: "cp  .ebextensions/supervisor/websocketintranet.conf /usr/local/supervisor/conf.d/websocketintranet.conf"
        leader_only: true
    20run_supervisor:
        command: "supervisord -c /usr/local/supervisord.conf"
        
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/490-supervisor_install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars

            if [ ! -f /usr/local/bin/supervisord ]; then
                echo "install supervisor and create directories"
                easy_install supervisor
            else
                echo "supervisor already installed"
            fi

            if [ ! -d /etc/supervisor ]; then
                mkdir /etc/supervisor
                echo "create supervisor directory"
            fi

            if [ ! -d /etc/supervisor/conf.d ]; then
                mkdir /etc/supervisor/conf.d
                echo "create supervisor configs directory"
            fi
    "/opt/elasticbeanstalk/hooks/appdeploy/post/500-supervisor_update.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars

            if ps aux | grep -q "[/]usr/local/bin/supervisord"; then
            echo "supervisor is running"
            else
            echo "start supervisor"
            /usr/bin/python /usr/local/bin/supervisord --pidfile /var/run/supervisord.pid
            fi

            supervisorctl reread
            supervisorctl update

            echo "$(date +'%Y%m%d %T') Check for supervisor update" >> /var/log/directory-hooks-executor.log